body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.filters-panel {
  padding: 20px;
}

.product-list {
  padding: 20px;
}

.product-card {
  padding: 10px;
}

.MuiFormControlLabel-root {
  margin-bottom: 8px;
}

.MuiSlider-root {
  color: #D2691E !important;
}

.beige-number {
  color: #D2691E;
}